.card {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 410px;
 
  background: #2a264f;

  border-radius: 3px;
  box-shadow: 0 0 10px #2a264f;
}
.card .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #fffc;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #000 inset;
}
